@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  box-sizing: border-box;
}


body, html {
    background: transparent !important;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';    
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}


.transparent {
    background: transparent !important;
}

.container {
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */

    margin: 0;
    padding: 0;


}

.scroll {
    position: relative;
    display: flex !important; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
    
    width: 80%;
    margin: auto;
}

.scroll::-webkit-scrollbar {
    display: none; 
}

.card {
    position: relative;
    float: left;
    display: inline-block;
    padding: 1.7rem;
    min-width: 420px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: '';
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content a {
  color: #fff;
}

.card .wrapper {
  background-color: #fff;
  min-height: 540px;

  position: relative;
  overflow: hidden;
}
.card .wrapper:hover .data {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card .data .content {
  position: relative;
  z-index: 1;
}

.card .title {
   text-align: center; 
}



.type-2 .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://images6.alphacoders.com/717/717752.jpg) left/cover no-repeat;
    background-attachment: fixed;   
}
.type-2 .background2 {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(https://wallpaperaccess.com/full/856978.jpg) left/cover no-repeat;
    background-attachment: fixed;   
}

.type-2 .background:after, .type-2 .background2:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0; top:0; right: 0; bottom: 0;
    background-color:rgba(2,2,2,0.5);
    
}
.type-2 .background:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0; top:0; right: 0; bottom: 0;
    background: url(../img/TexturesOverlay/asfalt-dark.png);
    
}
.type-2 .wrapper:hover .menu-content span {
  -webkit-transform: translate(20%, -10px);
          transform: translate(20%, -10px);
  opacity: 1;
}
.type-2 .header {
  color: #fff;
  padding: 1em;
}
.type-2 .header::before, .type-2 .header::after {
  content: '';
  display: table;
}
.type-2 .header::after {
  clear: both;
}

.type-2 .menu-content {
  float: right;
}
.type-2 .menu-content li {
  margin: 0 5px;
  position: relative;
}

.type-2 .data {
  color: #fff;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}
.type-2 .title a {
  color: #fff;
}
